In [1]:
# For cleaning data ~
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
path1 = "/Users/chutszkan/Desktop/Final_Project/Final_Script/Step3_scraping_the_details/kol_list.csv"
kol_list_t = pd.read_csv(path1, index_col=[0])
path2 = "/Users/chutszkan/Desktop/Final_Project/Final_Script/Step3_scraping_the_details/kol_info.csv"
kol_info_t = pd.read_csv(path2, index_col=[0])
path3 = "/Users/chutszkan/Desktop/Final_Project/Final_Script/Step3_scraping_the_details/kol_post.csv"
kol_post_t = pd.read_csv(path3, index_col=[0])

In [84]:
df_info = kol_info_t.merge(kol_list_t, how='inner', on='ig_id')
df_info = df_info[['ig_id', 'name', 'ig_description', 'no_of_post', 'no_of_follower', 'no_of_following', 'profile_img', 'is_HK', 'details_updated_time']]

In [75]:
df_info.head(3)

,ig_id,name,ig_description,no_of_post,no_of_follower,no_of_following,profile_img,is_HK,details_updated_time
0,hinscheung,Hins Cheung å¼µæ•¬è»’,"['ç¶½è™Ÿè»’å…¬ï¼Œäººç¨±æŸ´ç£Super J, å«æˆ‘æŸ´Jå¾—äº†', 'youtube.com/chan...",1703,848000.0,2880,scrap_web_details_image/hinscheung_profile.png,Hong Kong,2020-01-01
1,captv.hk,CapTV æ“·é›»è¦–,"['TV channel', 'æ“·ç²µéŸ³ã€Œkit3ã€', 'é¾æ„å˜…ï¼Œå’ªæ“·å›‰ï¼', 'Cap M...",3753,218000.0,43,scrap_web_details_image/captv.hk_profile.png,Hong Kong,2022-04-22
2,huidi_shi,è¿ª,[],71,17900.0,111,scrap_web_details_image/huidi_shi_profile.png,Unknown,2022-04-22

In [85]:
# what other need? post - img / video
kol_post_t = pd.read_csv(path3, index_col=[0])
df_image = kol_post_t
df_image['post_type'] = df_image['post_type'].replace('img', np.nan)
df_image = kol_post_t.dropna().reset_index(drop=True)

In [86]:
df_image.head(3)

,ig_id,post_date,post_alt,post_type,like/view,comment,content
0,hinscheung,2022-04-15,#Rap ğŸ˜ğŸµğŸ¶\n\nå°Šè²´å˜…å®¢æˆ¶å¥½è²¼å¿ƒï¼Œä¿¾å’—å•²captionæˆ‘å»è·Ÿï¼š\n\nã€Œå»åˆ°é‚Šï¼Œéƒ½å¯...,video,78000,726,#Rap ğŸ˜ğŸµğŸ¶\n\nå°Šè²´å˜…å®¢æˆ¶å¥½è²¼å¿ƒï¼Œä¿¾å’—å•²captionæˆ‘å»è·Ÿï¼š\n\nã€Œå»åˆ°é‚Šï¼Œéƒ½å¯...
1,hinscheung,2022-04-13,#YouTubeå·²ç¶“æœ‰å¾—ç‡å•¦\n#è¨˜å¾—è¦ç‡åŸ‹æˆ‘å€‹æ°´æœNFT\nå””å¥½ä»¥ç‚ºæˆ‘å¹³æ™‚æ·¨ä¿‚è­˜å¾—ç­‰é£Ÿ\n...,video,99000,316,#YouTubeå·²ç¶“æœ‰å¾—ç‡å•¦\n#è¨˜å¾—è¦ç‡åŸ‹æˆ‘å€‹æ°´æœNFT\nå””å¥½ä»¥ç‚ºæˆ‘å¹³æ™‚æ·¨ä¿‚è­˜å¾—ç­‰é£Ÿ\n...
2,hinscheung,2022-04-07,#ä¸‹çŸ¥å’ªåª½sçˆ¹\n#è©±daè©©è›™å¼µæ•¬Hints desu \n#å¤šä½å”·åš•æ®Šå’•\n\n#ç‰™ç¾… å°±...,video,106000,371,#ä¸‹çŸ¥å’ªåª½sçˆ¹\n#è©±daè©©è›™å¼µæ•¬Hints desu\n#å¤šä½å”·åš•æ®Šå’•\n\n#ç‰™ç¾… å°±ä¿‚...

In [87]:
kol_post_t = pd.read_csv(path3, index_col=[0])
df_video = kol_post_t
df_video['post_type'] = df_video['post_type'].replace('video', np.nan)
df_video = kol_post_t.dropna().reset_index(drop=True)

In [88]:
df_video.head(3)

,ig_id,post_date,post_alt,post_type,like/view,comment,content
0,hinscheung,2022-04-17,"Photo by Hins Cheung å¼µæ•¬è»’ on April 17, 2022. Ma...",img,71000,1211,"#æ‰®èœ\n\nä»Šæœæœ‰å€‹online meeting, æ‰€ä»¥å°‹æ™šåŒä½¢è¬›å®šä»Šæ—¥å””ä½¿æ•´åˆé¤ï¼Œæ—©é¤è±..."
1,hinscheung,2022-04-16,"Photo by Hins Cheung å¼µæ•¬è»’ on April 16, 2022. Ma...",img,61000,1210,#ç­‰ç·ŠåŸ‹ä½è¨˜éŒ²ä¸‹å…ˆ\n\nä»Šæ—¥æ‹MVï¼Œä¹‹å‰ä¸€å€‹ç¦®æ‹œé–‹å§‹é£Ÿè¿”168ï¼Œæˆ’ç³–æˆ’é‡å‘³å˜¢æœ‰è¿”æ¢jawl...
2,hinscheung,2022-04-16,"Photo by Hins Cheung å¼µæ•¬è»’ on April 16, 2022. Ma...",img,25000,492,ç•¶æˆ‘å‘ä½¢å ±å‘ŠåŒ…é­šä¹¾ä»”å·²ç¶“é£Ÿæ›¬å’— #ä»¥åŠé£Ÿæ›¬å³ ğŸ¤·ğŸ»â€â™‚ï¸ğŸ˜ #bear9ç†Šå€‹frd #bea...

In [10]:
# frequency_of_post
kol_list_t[kol_list_t['is_HK'] == 'Hong Kong']

,ig_id,is_HK,updated_following_list_time,details_updated_time,following_list
0,thevoiceofjoshmichaels,Hong Kong,2020-01-01,2020-01-01,yet
1,nwuuu,Hong Kong,2020-01-01,2022-04-23,yet
2,choisaaaa,Hong Kong,2020-01-01,2022-04-24,yet
3,wongtsuiyu,Hong Kong,2020-01-01,2022-04-24,yet
4,heungheungeliza,Hong Kong,2020-01-01,2022-04-24,yet
...,...,...,...,...,...
1859,mangielo,Hong Kong,2020-01-01,2022-04-23,yet
2097,agaseen,Hong Kong,2020-01-01,2022-04-23,yet
2205,numberonepr,Hong Kong,2020-01-01,2022-04-22,yet
2232,babyxshadow,Hong Kong,2020-01-01,2022-04-22,yet
2314,kaening,Hong Kong,2020-01-01,2022-04-22,yet

In [23]:
a = kol_list_t['ig_id'].to_list()
b = kol_info_t['ig_id'].to_list() 
c = set(a).intersection(b)
d = convert(c)
len(c)

737

In [25]:
939-737

202